# Node
node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Builds/artefatos
dist/
build/
**/dist/
**/build/

# Ambiente
.env
.env.*
*.local

# Sistema
.DS_Store
Thumbs.db
.vscode/